<div class="flex justify-end mb-4 gap-4">
  <button
    ng-click="toggleFilter()"
    class="p-2 h-8 w-8 flex items-center justify-center bg-accent-secondary text-white rounded-md hover:opacity-80"
  >
    <i class="fa fa-filter"></i>
  </button>
  <button
    ng-click="clearFilters()"
    ng-show="!compareFilters()"
    class="p-2 h-8 w-8 flex items-center justify-center bg-white text-secondary border-2 border-secondary rounded-md hover:opacity-80"
  >
    <i class="fa fa-times"></i>
  </button>
</div>
<div
  class="overflow-hidden transition-all duration-1000 ease-in-out transform"
  ng-class="{'max-h-0 scale-y-0': !showFilters, 'max-h-full scale-y-100': showFilters}"
>
  <form class="flex flex-col gap-4 md:gap-2 mb-4" ng-submit="filterRooms()">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      <div>
        <label class="block text-gray-700">${Date}</label>
        <input
          type="date"
          ng-model="filters.date"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg"
        />
      </div>
      <div>
        <label class="block text-gray-700">${Floor}</label>
        <input
          type="text"
          ng-model="filters.floor"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg"
        />
      </div>
      <div>
        <label class="block text-gray-700">${Capacity}</label>
        <input
          type="number"
          ng-model="filters.capacity"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg"
        />
      </div>
      <div>
        <label class="block text-gray-700">${Name}</label>
        <input
          type="text"
          ng-model="filters.name"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg"
        />
      </div>
      <div>
        <label class="block text-gray-700">${Type}</label>
        <select
          name="type"
          id="type"
          ng-model="filters.type"
          class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
        >
          <option value="all" class="px-3 py-2 bg-white">${All}</option>
          <option value="room" class="px-3 py-2 bg-white">${Room}</option>
          <option value="desk" class="px-3 py-2 bg-white">${Desk}</option>
        </select>
      </div>
      <div class="flex items-center gap-4">
        <label class="text-gray-700 m-0">${Show Booked}</label>
        <input
          type="checkbox"
          ng-model="filters.unavailable"
          class="mt-1 mr-2"
        />
      </div>
    </div>
    <div class="flex justify-end gap-4 mt-4">
      <button
        type="submit"
        class="px-4 py-2 bg-accent-secondary text-white rounded-md hover:opacity-80"
      >
        ${Filter}
      </button>
      <button
        ng-click="clearFilters()"
        class="px-4 py-2 bg-gray-500 text-white rounded-md hover:bg-gray-400"
      >
        ${Clear}
      </button>
    </div>
  </form>
</div>
