<div class="modal-header">
  <h3 class="modal-title">
    {{roomReservations.room_name}} - ${Available Times for}
    {{roomReservations.date}}
  </h3>
</div>
<div class="modal-body">
  <div ng-repeat="times in roomReservations.allowedTimes">
    <div
      class="flex flex-row items-center justify-between border-b border-gray-300 py-2"
    >
      <span> {{times.start}} - {{times.end}} </span>
      <button
        class="btn btn-success btn-sm"
        ng-click="openNewReservationModal(room, times)"
      >
        ${Schedule this time}
      </button>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="cancelSee()">${Cancel}</button>
  <button
    class="btn btn-success"
    ng-click="openNewReservationModal(room)"
    ng-disabled="!roomReservations.available"
  >
    ${New Reservation}
  </button>
</div>
